$MainBackgroundColor: #000000;
$MainTextColor: #FFFFFF;

$ButtonBackgroundColor: #fafafa;
$ButtonTextColor: #000000;
$ButtonBorderColor: #FFFFFF;

$HyperlinkColor: #bababa;
$HyperlinkDecoration: none;

$SidePadding: 10%;
$CreditFontSize: 75%;


body {
  padding-left: $SidePadding;
  padding-right: $SidePadding;
  background-color: $MainBackgroundColor;
  color: $MainTextColor;
}

a{
  text-decoration: $HyperlinkDecoration;
  color: $HyperlinkColor;
}

/* Start logo */
#Logo {
  text-align: center;
}
/* End logo */

/* Start Buttons */
.LeftButton{
  padding: 5px;
  width: 47%;
  border-radius: 5px;
  border: solid 2px $ButtonBorderColor;
  text-align: left;
  color: $ButtonTextColor;
  text-decoration: none;
  float: left;
  clear: left;
  margin: 0 1px 2px 1%;
  background-color: $ButtonBackgroundColor;
}
@media (max-width: 1229px) {
  .LeftButton{
    width: 45%;
  }
}
@media (max-width: 603px) {
  .LeftButton{
    width: 42%;
  }
}
.RightButton{
  padding: 5px;
  width: 47%;
  border-radius: 5px;
  border: solid 2px $ButtonBorderColor;
  text-align: left;
  color: $ButtonTextColor;
  text-decoration: none;
  float: right;
  clear: right;
  margin: 0 1% 2px 1px;
  background-color: $ButtonBackgroundColor;
}
@media (max-width: 1229px) {
  .RightButton{
    width: 45%;
  }
}
@media (max-width: 603px) {
  .RightButton{
    width: 42%;
  }
}

.FullWidthButton{
  padding: 5px;
  border-radius: 5px;
  border: solid 2px $ButtonBorderColor;
  color: $ButtonTextColor;
  text-decoration: none;
  text-align: center;
  float: inherit;
  clear: both;
  margin: 0 1% 2px 1%;
  background-color: $ButtonBackgroundColor;
}
/* End Buttons */

#Text{
  clear: both;
  padding-top: 0.1em;
  padding-left: 2%;
  padding-right: 2%;
}

/* Start Credit */
#Credit{
  font-size: $CreditFontSize;
}
/* End Credit */