/* A list of compilers is available at: http://sass-lang.com/install
 Compile this document with the output file called 'StyleX.css' with X being the previous version number + 1 */

/* Start Variable List */
/* All items wist a '$' at the beginning are variables.
 Change what is following them to change the look of the website */
$MainBackgroundColor: #262626;
$MainTextColor: #FFFFFF;

$ShadowColor: rgba(0, 0, 0, 0.75);

$ButtonBackgroundColor: #fafafa;
$ButtonHoverBackgroundColor: #c0c0c0;
$ButtonTextColor: #222222;

$HyperlinkColor: #6A75E8;
$HyperlinkHoverColor: #9098EA;
$HyperlinkDecoration: none;

$SidePadding: 10%;
$CreditFontSize: 75%;
/* End Variable List */

/* Add Open Sans hosted by Google Fonts */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,600,400');

body {
  padding-left: $SidePadding;
  padding-right: $SidePadding;
  background-color: $MainBackgroundColor;
  color: $MainTextColor;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

a {
  text-decoration: $HyperlinkDecoration;
  color: $HyperlinkColor;
}
a:hover {
  color: $HyperlinkHoverColor;
}

/* Start logo */
#logo {
  text-align: center;
  text-shadow: 0px 0px 5px $ShadowColor;
}
/* End logo */

/* Start Buttons */
.button {
  float: left;
  text-align: left;
}
.button a {
  display: block;
  padding: 7px 10px;
  border-radius: 5px;
  border: 0px;
  color: $ButtonTextColor !important;
  text-decoration: none;
  margin: 7px;
  background-color: $ButtonBackgroundColor;
  box-shadow: 0px 0px 5px $ShadowColor;
}
.button a:hover {
  background-color: $ButtonHoverBackgroundColor;
}

.button-50 {
  width: 50%;
}
.button-100 {
  width: 100%;
}
.center {
  text-align: center;
}
/* End Buttons */

/* Start Text */
#text {
  padding: 7px 10px;
}

#credits {
  font-size: $CreditFontSize;
}
/* End Text */

.clear {
  clear: both;
}
